/*------footer css--------*/
.footer
{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1
{
    font-size: 20px;
    margin: 25px 0px;
}
.footer p
{
    font-size: 12px;
}
.footer-image img
{
    width: 150px;
}
.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.fa-heart-o
{
    color: red;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background-color: #ccc;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
