<form class="modal-content animate" >
    <div class="imgcontainer">
      <img src="../../assets/logo.png" alt="Avatar" class="avatar">
      <h2>Hamro Garden</h2>
    </div>

    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <a href="index.html">
      <button type="button"  class="cancelbtn">Cancel</button>  
      </a>
      <button type="submit" class="next">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" id="check">Remember me
        <span class="psw">Forgot <a href="#">password?</a></span>
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <a href="create.html">
      <button type="submit">Create your Account</button>
      </a>
    </div>
  </form>