<!------card iteam details-------->
<div class=" cart-page">
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      <tr>
        <td>
          <div class="cart-info">
            <img src="../../assets/apple.jpg">
          <div>
            <p>Apple</p>
          <small>Price:Rs. 190</small>
          <br> 
         <a href="#">Remove</a>
       </div>
     </div>
        </td>
  
        <td><input type="number" value="1" ></td>
        <td>Rs. 190</td>
          
      </tr>
      <tr>
        <td>
          <div class="cart-info">
            <img src="../../assets/black-grapes.jpg">
          <div>
            <p>Black-grapes</p>
          <small>Price:Rs. 190</small>
          <br> 
         <a href="#">Remove</a>
       </div>
     </div>
        </td>
  
        <td><input type="number" value="1" ></td>
        <td>Rs. 190</td>
          
      </tr>
    </table>
  
  <div class="total-price">
    <table>
      <tr>
        <td>Subtotal</td>
        <td>Rs.190</td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>Rs.190</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>Rs.190</td>
      </tr>
    </table>
    
  </div>  
  
  
  
  </div>
  