<form class="modal-content animate" >
    <div class="imgcontainer">
      <img src="../../assets/logo.png" alt="Avatar" class="avatar">
      <h2>Create Account</h2>
    </div>

    <div class="container">
      <label for="uname"><b>Your Name</b></label>
      <input type="text" placeholder="Enter Your Name" name="uname" required>
      <label for="uname"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="At least 6 characters" name="psw" required>
      <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <a href="#">
      <button type="button"  class="cancelbtn">Cancel</button> 
      </a> 
      <button type="submit" class="next">Next</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" id="check">Remember me
      </label>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <a href="login.html">
      <button type="submit">Already have an Account?</button>
      </a>
    </div>
  </form>