<!-------fruits---------->
<section class="on-sale">
    <div class="container">
      <div class="title-box">
        <h2>Fruits</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="product-top">
            <img src="../../assets/apple.jpg">
            <div class="overlay-right">
              <button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Basket">
                <i class="fa fa-shopping-cart" ></i></button>
            </div>
          </div>
          <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <h3>Apple</h3>
                <h5>Rs.120/kg</h5>
          </div>
        </div>
        <div class="col-md-3">
          <div class="product-top">
            <img src="../../assets/banana.jpg">
            <div class="overlay-right">
              <button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Basket">
                <i class="fa fa-shopping-cart" ></i></button>
            </div>
          </div>
          <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <h3>Banana</h3>
                <h5>Rs.80/kg</h5>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-top">
            <img src="../../assets/black-grapes.jpg">
            <div class="overlay-right">
              <button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Basket">
                <i class="fa fa-shopping-cart" ></i></button>
            </div>
          </div>
          <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
                <h3>Black-grapes</h3>
                <h5>Rs.60/kg</h5>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-top">
            <img src="../../assets/mango.jpg">
            <div class="overlay-right">
              <button type="button" class="btn btn-secondary" title="Quick Shop">
                <i class="fa fa-eye" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                <i class="fa fa-heart-o" ></i></button>
              <button type="button" class="btn btn-secondary" title="Add to Basket">
                <i class="fa fa-shopping-cart" ></i></button>
            </div>
          </div>
          <div class="product-bottom text-center">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half" ></i>
                <i class="fa fa-star-o" ></i>
                <h3>Guava</h3>
                <h5>Rs.20/kg</h5>
          </div>
        </div>
    </div>
    </div>
</section>
        